.edit-theatre-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.edit-theatre-card {
  width: 100%;
  max-width: 550px;
  background-color: var(--dark-secondary);
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.edit-theatre-title {
  text-align: center;
  margin-bottom: 25px;
  color: var(--accent-strong);
  font-size: 22px;
  font-weight: 700;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.form-group label {
  margin-bottom: 6px;
  font-size: 13px;
  color: var(--light-gray);
}

.form-group input,
.form-group select {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: var(--light-gray);
  font-size: 14px;
}

.actions {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

.update-btn {
  flex: 1;
  background-color: var(--accent-strong);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.update-btn:hover {
  background-color: var(--accent-soft);
  color: var(--dark-primary);
}

.cancel-btn {
  flex: 1;
  background-color: var(--dark-primary);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
}
